<h2>Favourite Wines</h2>
<form id="score_filter_form" action="/reports/favourite_wines">
	<label for="score_filter">Minimum score</label>
	<select id="score_filter" name="score_filter">
		<option>96</option>
		<option>95</option>
		<option>94</option>
		<option>93</option>
		<option>92</option>
		<option>91</option>
		<option selected="selected">90</option>
	</select>
</form>

<%= render "reports/wines_list", :wines => @wines %>

<script type="text/javascript">
	$('#score_filter').focusout(function() {
		$('#score_filter_form').submit();
	});
</script>
