<div class="row">
	<h4>Number of ratings per score</h4>
</div>
<div class="row">
	<canvas id="chart" width="600" height="400"></canvas>
</div>
<script type="text/javascript">
	var ctx = document.getElementById("chart").getContext("2d");
	var data = {
		labels: [ <%= @scores %> ],
		datasets : [
			{
				fillColor : "rgba(179,27,78,0.5)",
				strokeColor : "rgba(220,220,220,1)",
				data : [ <%= @score_counts %> ]
			}
		]
	};
	var chart = new Chart(ctx).Bar(data);
</script>
